<footer>
    <div class="footer-container">
        <nav class="footer-nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="patient.html">Patient</a></li>
                <li><a href="doctor.html">Doctor</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
          <div class="office-hours">
              <h4>Office Hours</h4>
              <p>
                  Mon - Fri: 8:00am - 5:00pm <br> Sartuday: 8:00 am - 12:00pm <br>
                  Sunday: Online Services only <br>
                  NOTE: After working hours you can still reach us via email or the website. <br>
                  Our personnel are on standby
              </p>
          </div>
          <div class="footer-address">
                  <h4>Oracle Building</h4>
                  <p>3rd Floor, East Wing</p>
                  <p>Waiyaki Way</p>
                  <p>Westlands</p> 
                  <p>Nairobi, Nairobi County, 00100</p>
                  <p>Kenya</p>
          </div>
          <div class="footer-contact">
              <h4>Contact Us</h4>
              <p>Email: info@medilinkcare.com</p>
              <p>Phone: +123 456-789-123</p>
              <p>Fax: +123 456-789-124</p>
          </div>
  </div>
<div class="footer-bottom">
    <p>&copy; 2024 Instant MediCare. All Rights Reserved</p>
    <div class="social-links">
        <a href="www.twitter.com" target="_blank"><i class="fab fa-twitter"><fa-twitter></fa-twitter></i></a>
        <a href="www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</div>
</footer>