<div class="container">
    <nav>
        <h3> MediLink </h3>
        <ul>
            <li><a href="#" class="home-btn"><button>Home</button></a></li>
            <li><a href="/patient/login"><button class="patient-btn">Patient</button></a></li>
            <li><a href="/doctor/loginDoctor"><button class="doctor-btn">Doctor</button></a></li>
            <li><a href="/contact"><button class="contact-btn">Contact Us</button></a></li>
        </ul>
    </nav>
  </div>