<!DOCTYPE html>
<html>
  <head>
    <title>Medilink</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <div class="container">
        <nav>
            <h3> MediLink </h3>
            <ul>
                <li><a href="index.html" class="home-btn"><button>Home</button></a></li>
                <li><a href="login.html"><button class="patient-btn">Patient</button></a></li>
                <li><a href="doctorlogin.html"><button class="doctor-btn">Doctor</button></a></li>
                <li><a href="contact.html"><button class="contact-btn">Contact Us</button></a></li>
            </ul>
        </nav>
        <div class="indexcontainer">
          <h2>MediLink Care</h2>
          <p>Providing Instant Medical Linkages is the core of our Values.</p>
        </div>
      </div>
      <!-- Header end  -->
       <!-- About us section -->
      <div class="about-container">
          <div class="img-container">
            <img src="./images/cover-image.jpg" alt="" style="width: 80%; align-items: left;">
          </div>
          <div class="about-info">
            <h4>About MediLink</h4>
            <h5>Know More About Us!</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque asperiores excepturi, numquam modi ex alias rem eveniet officia dolor eius sunt repellendus minus velit doloribus placeat, pariatur quis voluptatibus deleniti aliquam aspernatur delectus, nam perspiciatis recusandae! Similique quas aspernatur assumenda soluta consequatur reiciendis, odit quae temporibus. Cum, ratione similique?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias molestias dolor qui distinctio in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt est assumenda hic natus quis repellendus!</p>
            <button id="read-btn"><a href class="read-btn">Read More</a></button>
          </div>
      </div>
      <!-- About Us ends here -->
      <!-- Our services container -->
      <section class="service">
        <h1> Our Services</h1>
            <div class="service-container">
                <div class="service-item">
                    <div class="service-img">
                        <img src="./images/doctor_consultation.jpg">
                    </div>
                    <div class="service-description">
                        <h2>General Practice</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="./images/cardiology.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Cardiology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="./images/prognosis.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Neurology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="./images/gynaecology.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Gynaecology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="./images/oncology.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Oncology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="./images/paediatrics.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Pediatrics</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                  <div class="service-img">
                      <img src="./images/dentistry.jpg">
                  </div>
                  <div class="service-description">
                      <h2>Dentistry</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-img">
                      <img src="./images/optical-image.jpg">
                  </div>
                  <div class="service-description">
                      <h2>Optician</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                  </div>
                </div>
            </div>
    </section>
    <!-- Services container end -->
    <!-- Our doctors section -->
    <section class="medical">
    <h1 style="text-align: center; color: navy; font-size: 36px; font-weight: 700; padding: 20px; margin: auto;">Our Medical Personnel</h1>
    <div class="medical-provider">
        <div class="provider-item">
            <div class="doctor-img">
                <img src="./images/doctor_consultation.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Liu Yen</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="./images/doctor_consultation.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Ali Mwazuri</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="./images/doctor_consultation.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Wafula Kingston</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="./images/doctor_consultation.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Otieno Wa Mbiru</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="./images/doctor_consultation.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Kimani Munene</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="./images/doctor_consultation.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Koech Tanui</h4>
            </div>
        </div>
    </div>
    </section>
    <!-- the section ends here -->
     <!-- Why us section -->
    <section class="more-info">
        <div class="why-us">
            <h1>Why Choose Us</h1>
            <p>
                We are a world class agency working with medical experts ready to provide you with the Best care. We available 24/7 and you can reach us at any given time. Guranteed Quality Medical Care.
            </p>
            <ul>
                <li>Best Healthcare at the press of a button</li>
                <li>24?7 support and consultation services</li>
                <li>Recognised prescription</li>
            </ul>
        </div>
        <div class="why-more">
            <p>250 qualified physicians</p>
            <p>100000+ subscribed patients</p>
            <p>125 connected Hospitals</p>
        </div>
    </section>
      <!-- The swhy us section ends here -->
    <!-- Footer  -->
    <footer>
      <div class="footer-container">
          <nav class="footer-nav">
              <ul>
                  <li><a href="#home">Home</a></li>
                  <li><a href="patient.html">Patient</a></li>
                  <li><a href="doctor.html">Doctor</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
              </ul>
          </nav>
            <div class="office-hours">
                <h4>Office Hours</h4>
                <p>
                    Mon - Fri: 8:00am - 5:00pm <br> Sartuday: 8:00 am - 12:00pm <br>
                    Sunday: Online Services only <br>
                    NOTE: After working hours you can still reach us via email or the website. <br>
                    Our personnel are on standby
                </p>
            </div>
            <div class="footer-address">
                    <h4>Oracle Building</h4>
                    <p>3rd Floor, East Wing</p>
                    <p>Waiyaki Way</p>
                    <p>Westlands</p> 
                    <p>Nairobi, Nairobi County, 00100</p>
                    <p>Kenya</p>
            </div>
            <div class="footer-contact">
                <h4>Contact Us</h4>
                <p>Email: info@medilinkcare.com</p>
                <p>Phone: +123 456-789-123</p>
                <p>Fax: +123 456-789-124</p>
            </div>
    </div>
  <div class="footer-bottom">
      <p>&copy; 2024 Instant MediCare. All Rights Reserved</p>
      <div class="social-links">
          <a href="www.twitter.com" target="_blank"><i class="fab fa-twitter"><fa-twitter></fa-twitter></i></a>
          <a href="www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
  </div>
  </footer>
    <script src="script.js"></script>
  </body>
</html>