<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>  
        <!-- landing page -->
        <div class="indexcontainer">
            <h2>MediLink Care</h2>
            <p>Providing Instant Medical Linkages is the core of our Values.</p>
        </div>
       <!-- About us section -->
      <div class="about-container">
          <div class="img-container">
            <img src="/images/cover-image.jpg" alt="" style="width: 80%; align-items: left;">
          </div>
          <div class="about-info">
            <h4>About MediLink</h4>
            <h5>Know More About Us!</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero doloremque asperiores excepturi, numquam modi ex alias rem eveniet officia dolor eius sunt repellendus minus velit doloribus placeat, pariatur quis voluptatibus deleniti aliquam aspernatur delectus, nam perspiciatis recusandae! Similique quas aspernatur assumenda soluta consequatur reiciendis, odit quae temporibus. Cum, ratione similique?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias molestias dolor qui distinctio in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt est assumenda hic natus quis repellendus!</p>
            <button id="read-btn"><a href class="read-btn">Read More</a></button>
          </div>
      </div>
      <!-- About Us ends here -->
      <!-- Our services container -->
      <section class="service">
        <h1> Our Services</h1>
            <div class="service-container">
                <div class="service-item">
                    <div class="service-img">
                        <img src="/images/doctor_consultation.jpg">
                    </div>
                    <div class="service-description">
                        <h2>General Practice</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="/images/cardiology.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Cardiology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="/images/prognosis.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Neurology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="/images/gynaecology.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Gynaecology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="/images/oncology.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Oncology</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="/images/paediatrics.jpg">
                    </div>
                    <div class="service-description">
                        <h2>Pediatrics</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                    </div>
                </div>
                <div class="service-item">
                  <div class="service-img">
                      <img src="/images/dentistry.jpg">
                  </div>
                  <div class="service-description">
                      <h2>Dentistry</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-img">
                      <img src="/images/optical-image.jpg">
                  </div>
                  <div class="service-description">
                      <h2>Optician</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ex et sequi recusandae quod provident reiciendis quos, ipsa modi sit numquam, sint nulla, perferendis quas?</p>
                  </div>
                </div>
            </div>
    </section>
    <!-- Services container end -->
    <!-- Our doctors section -->
    <section class="medical">
    <h1 style="text-align: center; color: navy; font-size: 36px; font-weight: 700; padding: 20px; margin: auto;">Our Medical Personnel</h1>
    <div class="medical-provider">
        <div class="provider-item">
            <div class="doctor-img">
                <img src="/images/doctor-7.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Liu Yen</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="/images/doctor-6.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Ali Mwazuri</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="/images/doctor-3.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Wafula Kingston</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="./images/doctor-4.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Otieno Wa Mbiru</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="/images/doctor_consultation.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Kimani Munene</h4>
            </div>
        </div>
        <div class="provider-item">
            <div class="doctor-img">
                <img src="/images/doctor-2.jpg">
            </div>
            <div class="doctor-description">
                <h4>Dr. Koech Tanui</h4>
            </div>
        </div>
    </div>
    </section>
    <!-- the section ends here -->
     <!-- Why us section -->
    <!-- <section class="more-info">
        <div class="why-us">
            <h1>Why Choose Us</h1>
            <p>
                We are a world class agency working with medical experts ready to provide you with the Best care. We available 24/7 and you can reach us at any given time. Guranteed Quality Medical Care.
            </p>
            <ul>
                <li>Best Healthcare at the press of a button</li>
                <li>24?7 support and consultation services</li>
                <li>Recognised prescription</li>
            </ul>
        </div>
        <div class="why-more">
            <p>250 qualified physicians</p>
            <p>100000+ subscribed patients</p>
            <p>125 connected Hospitals</p>
        </div>
    </section> -->
      <!-- The swhy us section ends here -->
    <!-- Footer  -->
    
    <%- include('../partials/footer.ejs') %>

    <script src="script.js"></script>
  </body>
</html>